section.new-tweet {
    border-radius: 10px;
    border: 1.5px black solid;
    width: 90%;
    background-color: silver;
    margin: 0 auto 0 auto;
    padding: 10px;
    display: none;
}

section.new-tweet h2 {
    text-align: left;
    margin: 0;
    border-bottom: 1px black solid;
}

section.new-tweet form {
    display: block;
    border-radius: 10px;
    margin-top: 20px;
}

section.new-tweet textarea {
    width: 100%;
    margin-bottom: 5px;
}

.counter {
    box-sizing: border-box;
    width: 50%;
    float: right;
    text-align: right;
    font-style: italic;
    color: blue;
    font-weight: bold;
}

.setRed {
    color: red;
}

section.new-tweet .submit-button {
    display: inline-block;
}

section.new-tweet .error-message {
    color: red;
    font-size: medium;
    display: none;
    margin: 0;
    padding-bottom: 5px;
    text-align: right;
    font-weight: bold;
    font-style: italic;
  }